{% if site.style == 'dark' %}
{% assign icon_color = "#ffffff" %}
{% else %}
{% assign icon_color = "#24292e" %}
{% endif %}

{% assign content = page.content %}

{% assign posts_total = site.posts | size %}

{% assign user = site.github.owner %}

{% if page.path contains '_posts' %}
{% assign page_title = page.title %}
{% assign meta_description = page.content | strip_html | strip_newlines | xml_escape | truncate: 300 %}
{% else %}
{% assign page_title = user.name %}
{% assign meta_description = user.bio | strip_html | strip_newlines | xml_escape | truncate: 300 %}
{% endif %}

<!doctype html>
<html class="min-height-full">

<head>
  <meta charset="utf-8">
  <title>{{ page_title }}</title>
  <meta name="description" content="{{ meta_description }}" />
  <meta property="og:title" content="{{ user.name }}" />
  <meta property="og:image" content="{{ user.avatar_url }}" />
  <meta property="og:description" content="{{ meta_description }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="{{ "/assets/styles.css" | relative_url }}" rel="stylesheet" type="text/css">
  <script type="text/javascript" async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
  </script>
  <style>
    img {
      max-width: 100%;
    }

    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    pre {
      padding:5px;
      background-color:rgb(27, 43, 52)
    }
    .highlight {
      background-color:rgb(27, 43, 52)
    }
    code {
      background-color:rgb(27, 43, 52)
    }
  </style>
</head>

<body class="bg-white min-height-full" {% if site.style == 'dark' %}style="background-color: #2f363d !important"
  {% endif %}>